.input-container {
  margin-top: 5%;
}

.input-form {
  margin-top: 100px;
  margin: auto;
  padding: 50px;
  min-width: 900px;
  max-width: 1200px;
}

.form-elements {
  margin-top: 10px !important;
}

.select-sizing {
  width: 300px;
}

.paper-table {
  margin-top: 25px;
  min-width: 1200px;
  padding: 30px 50px 50px 50px;
}

.help-icon {
  position: absolute !important;
  right: 0;
  padding-right: 25px;
}

.toolbar {
  align-self: flex-end
}